:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(243, 244, 246);
  --accent-color: rgb(108, 114, 128);
  --accent-shadow: rgba(108, 114, 128, 0.3);

  --primary-background-color: rgb(8, 10, 12);
  --secondary-background-color: rgb(21, 24, 28);
  --highlight-background-color: rgb(41, 47, 56);

  --delta-color: rgb(255, 101, 109);
}
